
@model IEnumerable<Quanlytrotdmune.Models.ADMIN>
@foreach (var a in Model)
{
<ul class="dropdown-menu dropdown-menu-right">
    <li class="dropdown-item user-details">
        <a href="javaScript:void();">
            <div class="media">
                <div class="avatar"><img class="align-self-start mr-3" src="~/Areas/Admin/Content/assets/images/Avatar/avt1.jpg" alt="user avatar"></div>
                <div class="media-body">
                    <h6 class="mt-2 user-title">@a.fullname</h6>
                    <p class="user-subtitle">mccoy@example.com</p>
                </div>
            </div>
        </a>
    </li>
    <li class="dropdown-divider"></li>
    <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
    <li class="dropdown-divider"></li>
    <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
    <li class="dropdown-divider"></li>
    <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
    <li class="dropdown-divider"></li>
    <li class="dropdown-item"><i class="icon-power mr-2"></i>   <a href="@Url.Action("Logout", "HomeAdmin")">Logout</a> </li>
</ul>
}