<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>E Store - eCommerce HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/slick/slick.css" rel="stylesheet">
    <link href="~/Content/lib/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/lib/slick/slick-theme.css" rel="stylesheet">
    <!-- Include Leaflet CSS and JavaScript -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet/1.0.0-rc.1/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/leaflet/1.0.0-rc.1/leaflet.js"></script>

    <!-- Include Leaflet Control Geocoder CSS and JavaScript -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <!-- Template Stylesheet -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <script src="~/Content/leaflet.js"></script>
    <link href="~/Content/Control.Geocoder.css" rel="stylesheet" />
    <script src="~/Content/main.js"></script>
    <link href="~/Content/leaflet.css" rel="stylesheet" />
</head>

<body>
    <!-- Top bar Start -->
    <!-- Top bar End -->
    <!-- Nav Bar Start -->
    @Html.Action("Loginlogout", "User")
    <!-- Nav Bar End -->
    <!-- Bottom Bar Start -->
    <div class="bottom-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="index.html">
                            <img src="~/Content/anhqc/Logo2.png" alt="Logo" style="width:150px;height:100px">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="search">
                        <input type="text" placeholder="Search" style="border-color:dodgerblue!important">
                        <button><i class="fa fa-search" style="color:dodgerblue!important"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Bottom Bar End -->
    <!-- Main Slider Start -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-home" style="color:dodgerblue!important"></i>Nhà trọ giá rẻ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-globe" style="color:dodgerblue!important"></i>Cách Trường 500m</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-address-card" style="color:dodgerblue!important"></i>Cách Trường 1Km</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-plus-square" style="color:dodgerblue!important"></i>Cách Trường 2km</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-mobile-alt" style="color:dodgerblue!important"></i>Cách Trường 3km</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-adjust" style="color:dodgerblue!important"></i>Cách Trường 4km</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-microchip" style="color:dodgerblue!important"></i>Cách Trường 5km</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-6">
                    <div class="header-slider normal-slider" style="color:dodgerblue!important">
                        <div class="header-slider-item" style="color:dodgerblue!important">
                            <img src="~/Content/anhqc/anhqc1.jpg" alt="Slider Image" style="width:700px;height:400px" />

                        </div>
                        <div class="header-slider-item">
                            <img src="~/Content/anhqc/anhqc2.jpg" alt="Slider Image" style="width:700px;height:400px" />

                        </div>
                        <div class="header-slider-item">
                            <img src="~/Content/anhqc/anhqc3.png" alt="Slider Image" style="width:700px;height:400px" />

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="header-img">
                        <div class="img-item">
                            <img src="~/Content/anhqc/AutoDesk Main banner-89472.png" />
                            <a class="img-text" href="">
                                <p>Nâng cấp phần mềm</p>
                            </a>
                        </div>
                        <div class="img-item">
                            <img src="~/Content/anhqc/netflix-49596.png" />
                            <a class="img-text" href="">
                                <p>Tài khoản Netflix </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <!-- Review End -->
    <!-- Footer Start -->
    <!-- Footer End --><div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Get in Touch</h2>
                        <div class="contact-info">
                            <p><i class="fa fa-map-marker"></i>Thủ Dầu Một,Bình Dương</p>
                            <p><i class="fa fa-envelope"></i>nongdanit@gmain</p>
                            <p><i class="fa fa-phone"></i>+0123-456-7890</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Follow Us</h2>
                        <div class="contact-info">
                            <div class="social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Company Info</h2>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Purchase Info</h2>
                        <ul>
                            <li><a href="#">Pyament Policy</a></li>
                            <li><a href="#">Shipping Policy</a></li>
                            <li><a href="#">Return Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Footer Bottom Start -->
    <!-- Footer Bottom End -->
    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/lib/easing/easing.min.js"></script>
    <script src="~/Content/lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Content/js/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>




